<div style="padding: 20px; height: 100%">
  <div class="container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-table">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="mat-header-center" style="text-align: center; justify-content: center; align-items: center"> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Nome Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef class="mat-header-center" style="text-align: center; justify-content: center; align-items: center"> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
      </ng-container>

      <!-- Ingredientes Column -->
      <ng-container matColumnDef="ingredientes">
        <th mat-header-cell *matHeaderCellDef class="mat-header-center" style="text-align: center; justify-content: center; align-items: center"> Ingredientes </th>
        <td mat-cell *matCellDef="let element"> {{element.ingredientes}} </td>
      </ng-container>

      <!-- Modo Preparo Column -->
      <ng-container matColumnDef="modoPreparo">
        <th mat-header-cell *matHeaderCellDef class="mat-header-center" style="text-align: center; justify-content: center; align-items: center"> Modo Preparo </th>
        <td mat-cell *matCellDef="let element"> {{element.modoPreparo}}</td>
      </ng-container>

      <!-- Tempo Preparo Column -->
      <ng-container matColumnDef="tempoPreparo">
        <th mat-header-cell *matHeaderCellDef class="mat-header-center" style="width: 250px; text-align: center; justify-content: center; align-items: center"> Tempo Preparo (min) </th>
        <td mat-cell *matCellDef="let element"> {{element.tempoPreparo}} (minutos)</td>
      </ng-container>

      <!-- Rendimento Column -->
      <ng-container matColumnDef="rendimento">
        <th mat-header-cell *matHeaderCellDef class="mat-header-center" style="text-align: center; justify-content: center; align-items: center"> Rendimento </th>
        <td mat-cell *matCellDef="let element"> {{element.rendimento}} </td>
      </ng-container>

      <!-- Categoria Column -->
      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef class="mat-header-center" style="text-align: center; justify-content: center; align-items: center"> Categoria </th>
        <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
      </ng-container>

      <!-- Ações Column -->
      <ng-container matColumnDef="acoes" >
        <th mat-header-cell *matHeaderCellDef class="mat-header-center" style="text-align: center; justify-content: center; align-items: center"> Ações </th>
        <td mat-cell *matCellDef="let row" style="width:200px; text-align: center; justify-content: center; align-items: center">
          <a mat-button matTooltip="Editar" (click)="openDialogEdit(row)"><i class="bi bi-pencil-square menu-icon"></i></a>
          <a mat-button (click)="openDialogDelete(row)"  matTooltip="Excluir"><i class="bi bi-trash menu-icon"></i></a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div class="container" style="padding-top: 20px;">
    <button (click)="openDialog()" class="btn btn-dark">Cadastrar Receita</button>
  </div>
</div>
