@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/*@import "bootstrap-icons/font/bootstrap-icons.css";*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Rubik", sans-serif; background: rgb(255, 255, 255);}
