mat-toolbar {
  position: relative;
  z-index: 5;
  /*background-color: background: url("/assets/background.jpg");*/
}

.content {
  padding: 0px  ;
}

.content-card {
  margin-top: 15px;
  height: 75vh;
  border-radius: 9px;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
  background-color: rgb(57, 164, 218, 0.1);
}

mat-sidenav, mat-sidenav-content {
  transition: all 500ms ease-in-out;
}

mat-sidenav {
  background-color: rgba(33, 33, 33, 0.9);
}

/*mat-sidenav-content {*/
/*  background: url("/assets/background.jpg")*/
/*}*/

.header-space {
  flex: 1 1 auto;
}

.header-title {
  color: #f8f8f8;
  font-size: 2.95em;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  /*-webkit-text-stroke: 1px #508dd3;*/

}
.header-subtitle {
  color: #ECEBE9;
  font-size: 1.1em;
  text-shadow: 2px 2px 4px rgb(48, 48, 58);
  /*-webkit-text-stroke: 0.3px #259a8f;*/

}
.esquerda {
  transform: rotateY(180deg);
}

mat-card {
  background-color: rgb(253, 241, 255);
}

h1 {
  color: #000000;
  font-size: 1.9em;
  text-shadow: 2px 2px 4px rgba(73, 73, 73, 0.5);
  -webkit-text-stroke: 0.5px #4d4d4d;
  text-align: center;

}
p {
  padding: 0 10px;
  line-height: 1.8;
}

ul li {
  padding-right: 10px;
  line-height: 1.6;
}

h3 {
  padding: 5px 20px;
  margin: 0;
}

div#header {
  position: relative;
}

div#header h1 {
  height: 80px;
  line-height: 80px;
  margin: 0;
  padding-left: 10px;
  background: #e0e0e0;
  color: #292929;
}

div#header a {
  position: absolute;
  right: 0;
  top: 23px;
  padding: 10px;
  color: #006;
}

div#navigation li {
  list-style: none;
}

div#footer {
  background-color: rgb(33, 33, 33);
  color: #fff;
  max-width: 99.5%;
}

div#footer p {
  padding: 20px 10px;
}

div#container {
  width: 100%;
  margin: 0 auto;
  color: black;
  padding: 0px 20px 0px;
}

div#content {
  float: right;
  height: 75vh;
  padding: 10px 10px 10px;
}
div#wrapper {
  float: right;
  max-width: 83%;
  height: 75vh;
  padding: 10px 10px 10px;
}
div#navigation {
  float: left;
  width: 30vh;
  padding-top: 10px;
  height: 55vh;
  margin-bottom: 10px;
}

div#extra {
  float: left;
  clear: left;
  width: 30vh;
  height: 20vh;
}

div#footer {
  clear: both;
  width: 100%;
}
.containers{
  width: 90%;
  margin:0 auto;
}
.policy{
  background-image: url(../assets/bg-policy.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  padding: 70px 0;
}
.round{
  padding: 32px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  font-size: 34px;
  background: rgba(49, 44, 44, 0.2);
  transition: all .3s ease;
  margin: 0 auto;
  position: relative;
}
.round-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #212121;
}
.policy-card h2{
  transition: all .3s ease;
  font-weight: bolder;
  color: #fff;
  text-transform: uppercase;
  margin: 12px 0 5px;
}
.policy-card p{
  color: #fff;
  font-style: italic;
}

.policy-card:hover .round{
  cursor: pointer;
  color: #bd1414;
  background: #f52828;
}
.policy-card:hover .round-icon{
  cursor: pointer;
  color: #ffffff;

}
.policy-card:hover h2{
  cursor: pointer;
  color: #f52828;
}
.policy-product{
  padding: 60px 0;
  background: #eee;
}
.policy-p-card{
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  border-bottom: 1px solid #a8a8a8;
  position: relative;
  /*top: -100px;*/
}
.date{
  position: absolute;
  top: 0;
  left: 30px;
  z-index: 2;
  background: #ff4000;
  padding: 15px 10px;
  text-align: center;
  border-radius: 0 0 4px 4px;
}
.date h3{
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  display: block;
  margin: 0;
  padding: 0;
}
.date h4{
  color: #eee;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.policy-image{
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.policy-image img{
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all .3s ease;
}
.policy-image img:hover{
  transform: scale(1.3);
}

.policy-p-card h2{
  text-transform: capitalize;
  line-height: 24px;
  font-size: 18px;
  font-weight: 700;
  margin: 18px 0 10px;
  cursor: pointer;
  transition: all .3s ease;
}
.policy-p-card h2:hover{
  color: #ff4000;
}
.policy-p-card p{
  color: #777;
  line-height: 21px;
  font-size: 14px;
  transition: all .3s ease;
  font-weight: 400;
}
.read-more{
  color: #fff;
  background-color: #212121;
  font-size: 14px;
  font-weight: 700;
  padding: 14px 0;
  display: block;
  text-align: center;
  text-decoration: none;
  transition: all .3s ease;
}
.read-more i{
  margin-left: 4px;
}
.read-more:hover{
  background-color: #ff4000;
  color: #fff;
}
.read-more:hover i{
  margin-left: 8px;
}

