<div class="panel" style="border: none; overflow: hidden">
  <div class="panel-heading dialog-title">
    <span class="header-space">Adicionar Receitas</span>
    <a style="cursor: pointer;" (click)="fecharModal()"><i class="bi bi-x-circle-fill" matTooltip="Fechar Modal"></i></a>
  </div>

  <div class="panel-body">
    <div class="form-group form-content">
      <!-- FeedBack Field -->
      <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="showFeedbackPanel">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        <strong>{{errorMensagem}}</strong>
      </div>

      <form [formGroup]="receitasForm" (ngSubmit)="onSubmit()" class="example-form">
        <mat-card>
          <mat-card-content>
            <!-- Nome Field -->
            <div class="form-row">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="nome">
              </mat-form-field>
            </div>

            <!-- Ingredientes Field -->
            <div class="form-row">
              <mat-form-field appearance="fill" class="full-width">
                <mat-label>Ingredientes</mat-label>
                <textarea matInput formControlName="ingredientes"></textarea>
              </mat-form-field>
            </div>

            <!-- Modo Preparo Field -->
            <div class="form-row">
              <mat-form-field  class="full-width">
                <mat-label>Modo de Preparo</mat-label>
                <textarea matInput formControlName="modoPreparo"></textarea>
              </mat-form-field>
            </div>

            <!-- Linha paraTempo Preparo, Rendimento e Categoria -->


            <div class="form-row flex-row">

              <mat-form-field appearance="fill" class="half-width" style="padding-right: 10px;">
                <mat-label>Tempo de Preparo (minutos)</mat-label>
                <input matInput type="number" formControlName="tempoPreparo">
              </mat-form-field>

              <mat-form-field appearance="fill" class="half-width" style="padding-right: 10px;">
                <mat-label>Rendimento</mat-label>
                <input matInput formControlName="rendimento">
              </mat-form-field>

              <mat-form-field appearance="fill" class="half-width">
                <mat-label>Categoria</mat-label>
                <input matInput formControlName="categoria">
              </mat-form-field>
            </div>
          </mat-card-content>
          <mat-card-actions class="action-buttons">
            <button mat-raised-button color="primary" type="submit" *ngIf="!isUpdate">Salvar</button>
            <button mat-raised-button color="warn" type="button" (click)="onUpdate()" *ngIf="isUpdate">Salvar</button>
            <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancelar</button>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>
